
~*
*~
*#
.DS_Store
.snakemake
*.fastq
*.gz
*.fastq.gz
*.temp
*.done
*.txt
.RHistory
.Rapp.history
resources/genomes/
resources/indexes/
resources/indexes/
resources/indexes/
resources/indexes/
resources/indexes/
results/
benchmarks/
