
~*
*~
*#
.DS_Store
.snakemake
*.fastq
*.gz
*.fastq.gz
*.temp
*.done
*.txt
.RHistory
.Rapp.history
resources/genomes/GCA_018104305.1_AalbF3_genomic.fasta
resources/indexes/bwa/GCA_018104305.1_AalbF3_genomic.fasta.amb
resources/indexes/bwa/GCA_018104305.1_AalbF3_genomic.fasta.ann
resources/indexes/bwa/GCA_018104305.1_AalbF3_genomic.fasta.bwt
resources/indexes/bwa/GCA_018104305.1_AalbF3_genomic.fasta.pac
resources/indexes/bwa/GCA_018104305.1_AalbF3_genomic.fasta.sa
results/04_Variants/ERR3343471_bwa_10X_masked-ref.fasta
